.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border-bottom: 1px solid lightgray;
    z-index: 1;

}
.header_image {
    object-fit: contain;
    width: 200px;
}